/**
 * Corpora list & corpus detail
 */

.donnees {

  li {

    &:nth-child(1) a {
      background: rgba(255, 166, 27, 1);
    }

    &:nth-child(2) a {
      background: rgba(255, 218, 161, 1);
    }

    &:nth-child(3) a {
      background: rgba(255, 187, 144, 1);
    }

    &:nth-child(4) a {
      background: rgba(232, 141, 0, 1);
    }

  }

}
