/**
 * Two-column layout for main content
 */

.two-col {

  ul {
    margin-bottom: 30px;

    li {

      &:nth-child(2n+1) {
        clear: both;
      }

      a {
        display: block;
        margin: 15px 5px;
        padding: 20px 35px;
        height: 550px;

        &:hover, &:focus, &:active, &:active:focus {
          color: rgba(0, 0, 0, 0.75);
          text-decoration: none;

          h3, h4 {
            text-decoration: underline;
          }

        }

      }

    }

  }

}
