<!DOCTYPE html>
<html lang="fr-ca">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="container">

      <!-- Page title & intro -->
      <div class="row">
        <div class="col-sm-8 col-sm-offet-2 col-md-6 col-md-offset-3">
          {{ content }}
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <!-- List content -->
          <div class="row {{ page.layout }} {{ page.permalink }}">
            {% if page.sections %}

            {% for section in page.sections %}
              <div class="col-xs-12">
                <h3>{{ section.title }}</h3>
              </div>
              <ul class="row list-unstyled">
                {% for item in section.items %}
                <li class="col-md-6">
                  <a href="#">
                    <h4>{{ item.title }}</h4>
                    <p>{{ item.content }}</p>
                  </a>
                </li>
                {% endfor %}
              </ul>

            {% endfor %}

            {% elsif page.items %}
            <ul class="row list-unstyled main-list">
              {% for item in page.items %}
              <li class="col-md-6">
                <a href="#">
                  <h3>{{ item.title }}</h3>
                  <p>{{ item.content }}</p>
                </a>
              </li>
              {% endfor %}
            </ul>

            {% endif %}
          </div>
        </div>
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
